li
    a.ext(href="http://dailyjs.com//", target="_blank") Daily dose of JS
    span.ext
li
  a.ext(href="http://shadabahmed.com/blog", target="_blank") Shadab's blog
  span.ext
li
  a.ext(href="http://rockyj.in/", target="_blank") Rocky Jaiswal's blog
  span.ext
li
  a.ext(href="http://oscarvillarreal.com/", target="_blank") Oscar Villarreal's blog
  span.ext
li
  a.ext(href="http://www.bijubhaskar.net/", target="_blank") Biju Bhaskar's blog;
  span.ext