div(id="disqus_thread")
script(type="text/javascript", src="http://disqus.com/forums/dongsa/embed.js")
noscript
  a(href="http://disqus.com/forums/dongsa/?url=ref") View the discussion thread.
a(href="http://disqus.com", class="dsq-brlink") blog comments powered by
  span(class="logo-disqus") Disqus
script(type="text/javascript")
  (function() {
    var links = document.getElementsByTagName('a');
    var query = '?';
    for(var i = 0; i < links.length; i++) {
      if(links[i].href.indexOf('#disqus_thread') >= 0) {
        query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
      }
    }
    document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/dongsa/get_num_replies.js' + query + '"></' + 'script>');
  })();