footer.footer
      div.inner(style="font-size: 13px")
        block footer
          p(class="pull-right"): a(href="#") back to top
          p 
            | Put together by #{ locals.name } - Copyright 2007-#{ new Date().getFullYear() } - Powered by &nbsp;
            a(href="http://www.nodejs.org", title="Powered by Node.js", target="_blank")
              | Node.js
            |  and
            a(href="https://github.com/jnordberg/wintersmith", title="Powered by Wintersmith", target="_blank")
              |  Wintersmith 
            |  - Special thanks to 
            a(href="http://twitter.github.com/bootstrap/", target="_blank", title="Bootstrap, from Twitter")
              | Twitter Bootstrap
