- var relatedDocuments = _.chain(env.helpers.getArticles(contents)).filter(function(current) {
-   return !_.isEmpty(_.intersection(current.metadata.tags, page.metadata.tags))
- }).first(5).value()

table.table.table-striped
    tbody
        each relatedDocument in relatedDocuments
            tr
                td
                    a(href=relatedDocument.url, title="#{relatedDocument.metadata.tags}")= relatedDocument.title