- var articles = _.chain(contents.articles._.directories).map(function(item) {
-   // map articles to index pages of subdirectories of 'articles'
-   return item.index
- }).compact().filter(function(article) {
-   return article.metadata.ignored !== true
- }).sortBy(function(item) { // compact removes any directories w/o an index
-   // sort them by date
-   return -item.date
- }).value()
- var map = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']

div.sidebar-header
    img(src="/assets/images/sanjeev_ranit.JPG")
    hr
    a(href="http://www.sanjeevonline.com") About
    hr
    a(href="https://github.com/sanjeevonline") Github
    hr
    a(href="https://twitter.com/sandee_sh") Twitter
    hr
div.sidebar
    ol
      each article in articles
        li
          | &nbsp;
          a(href=article.url)= article.title
          |  - #{ map[article.date.getMonth()] } #{ article.date.toString().substring(8, 10) } #{article.date.getFullYear()}