- var articles = _.chain(contents.articles._.directories).map(function(item) {
-   // map articles to index pages of subdirectories of 'articles'
-   return item.index
- }).compact().filter(function(article) {
-   return article.metadata.ignored !== true
- }).sortBy(function(item) { // compact removes any directories w/o an index
-   // sort them by date
-   return -item.date
- }).value()
- var map = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
div.sidebar-header
  a(href="http://www.sanjeevonline.com")
    img(src="/assets/images/sanjeev_ranit.JPG")
  hr
  h3
    a(href="https://in.linkedin.com/in/sanjeevsprofile/") LinkedIn
  hr
  h3
    a(href="https://github.com/sanjeevonline")
      | Github /
    a(href="https://twitter.com/sandee_sh")
      | &nbsp;Twitter
  hr
  h3
    a(href="http://www.javagyan.com") JavaGyan
  hr
div.sidebar
  ol
    each article in articles
      li
        a(href=article.url)= article.title
        br
