
.post {
    background-color: white;
    border: 1px solid #AAA;
    padding: 20px 40px;
    margin: 0px auto;
    position: relative;
    margin-bottom: 40px;
}
.shadow {
    -moz-box-shadow: 2px 5px 12px #555;
    -webkit-box-shadow: 2px 5px 12px #555;
    box-shadow: 2px 5px 12px #555;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='$color')";
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='$color');
}
body {
    font-family: 'Noto Serif', serif;
    font-size: 16px;
    line-height: 25px;
}
.navbar .brand {
    font-size: 25px;
}
.well [class^="span"] + [class^="span"] {
    border-left: 1px solid #e3e3e3;
}

.topsocial {
    min-height: 65px;
    text-align:center;
}
.social {
    float:left;
    margin-right:30px;
}
.social:first-child {
    margin-right:30px;
}
.share-delicious {
    width:50px;
    height:63px;
    text-align:center;
}
.delicious {
    width:50px;
    height: 45px;
    background: url(/assets/images/del+above.png) no-repeat;
    font-weight: bold;
    font-size: 16px;
    font-family:arial;
    color:#adadad;
    margin:0 auto;
    line-height:36px;
}

.delicious-b {
    font-size:10px;
    text-transform:none;
    color:#FFF;
    margin:0 auto;
    width:50px;
    height:17px;
    line-height: 17px;
}
.delicious-b a:link, .delicious-b a:visited {
    color:#FFF;
    font-weight:normal;
    background: url(/assets/images/del+new.png) no-repeat;
    display: block;
    text-decoration:none;
}

.delicious-b a:hover {
    color:#11788b;
    font-weight:normal;
    text-decoration:none;
    background: url(/assets/images/del+new.png) no-repeat center -17px;
    display: block;
}

.tagcloud {
    line-height: 1.5em;
    text-align: justify;
}
.tagcloud a {
    margin: 0 4px 0 0;
    text-decoration: none;
    white-space: nowrap;
}
.tagcloud a.size-0 {
    font-size: 0.95em;
}
.tagcloud a.size-1 {
    font-size: 1em;
}
.tagcloud a.size-2 {
    font-size: 1.05em;
}
.tagcloud a.size-3 {
    font-size: 1.1em;
}
.tagcloud a.size-4 {
    font-size: 1.15em;
}
.tagcloud a.size-5 {
    font-size: 1.2em;
}
.tagcloud a.size-6 {
    font-size: 1.25em;
}
.tagcloud a.size-7 {
    font-size: 1.3em;
}
.tagcloud a.size-8 {
    font-size: 1.35em;
}
.tagcloud a.size-9 {
    font-size: 1.4em;
}
.tagcloud a.size-10 {
    font-size: 1.45em;
}
.tagcloud a.size-11 {
    font-size: 1.50em;
}
.tagcloud a.size-12 {
    font-size: 1.55em;
}
.tagcloud a.size-13 {
    font-size: 1.60em;
}
.tagcloud a.size-14 {
    font-size: 1.65em;
}
.tagcloud a.size-15 {
    font-size: 1.70em;
}
.tagcloud a.size-16 {
    font-size: 1.75em;
}
.tagcloud a.size-17 {
    font-size: 1.80em;
}
.tagcloud a.size-18 {
    font-size: 1.85em;
}
.tagcloud a.size-19 {
    font-size: 1.90em;
}
.tagcloud a.size-20 {
    font-size: 1.95em;
}
.tagcloud a.size-21 {
    font-size: 1.96em;
}
.tagcloud a.size-22 {
    font-size: 1.96em;
}
.tagcloud a.size-23 {
    font-size: 1.96em;
}
.tagcloud a.size-24 {
    font-size: 1.96em;
}
.tagcloud a.size-25 {
    font-size: 1.96em;
}

h1#page_heading a, h1#page_heading a:hover, h1#page_heading a:visited {
    color: #000 !important;
    text-decoration: none;
}
#page_subtitle {
    font-family: Bilbo, 'times new roman', serif;
    font-size: 1.2em;
    margin: 10px auto 20px;
    width: 400px;
    text-align: center;
    padding: 11px 0 13px;
    color: #888;
    border-bottom: 1px solid #EAEAEA;
    border-top: 1px solid #EAEAEA;
    letter-spacing: 2px;
}