* { margin: 0; padding: 0; border: 0; }

html {
    /* flexbox ftw! */
    display: box;
    box-pack: center;
    box-orient: vertical;

    /* vendor css ftl.. */
    display: -moz-box;
    display: -webkit-box;
    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
    -moz-box-pack: center;
    -webkit-box-pack: center;

    height: 100%;
}

body {
    font-family: 'Caudex', serif;
    font-size: 16px;
    width: 40em;
    margin: 0 auto;
    background: #282725;
    color: #CECECE;
    line-height: 1.5;
}

a {
    color: #CECECE;
    text-decoration: none;
    -webkit-transition: color 0.2s ease-out;
    -moz-transition: color 0.2s ease-out;
}

a:hover {
    color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'PT Serif Caption', serif;
    font-style: italic;
}

h1 {
    font-size: 320%;
    letter-spacing: -0.05em;
}

h2 {
    font-size: 170%;
    margin: 0.3em 0;
}

ul {
    list-style: none;
}

header {
    margin: 3em 0 1.5em;
    text-align: center;
}

section {
    text-align: center;
    margin-bottom: 1.3em;
}

footer {
    margin: 0.5em;
    text-align: center;
    font-size: 300%;
}

footer a {
    display: inline-block;
    width: 38px;
    height: 35px;
    background: url(../images/heart.png);
    overflow: hidden;
    text-indent: -999px;
}

@-webkit-keyframes heartbeat {
  0%   { -webkit-transform: scale(1)   }
  5%   { -webkit-transform: scale(1.2) }
  15%  { -webkit-transform: scale(1)   }
  20%  { -webkit-transform: scale(1.2) }
  30%  { -webkit-transform: scale(1)   }
  100% { -webkit-transform: scale(1)   }
}

@-moz-keyframes heartbeat {
  0%   { -moz-transform: scale(1)   }
  5%   { -moz-transform: scale(1.2) }
  15%  { -moz-transform: scale(1)   }
  20%  { -moz-transform: scale(1.2) }
  30%  { -moz-transform: scale(1)   }
  100% { -moz-transform: scale(1)   }
}

@keyframes heartbeat {
  0%   { transform: scale(1)   }
  5%   { transform: scale(1.2) }
  15%  { transform: scale(1)   }
  20%  { transform: scale(1.2) }
  30%  { transform: scale(1)   }
  100% { transform: scale(1)   }
}

footer a:hover {
    -webkit-animation-name: heartbeat;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: heartbeat;
    -moz-animation-duration: 1.5s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    animation-name: heartbeat;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}