extends layout

block content
    div.container-fluid
        div.row-fluid.row
           div.span3
              div.well.sidebar-nav
                 ul.nav.nav-list
                    li.nav-header  Side Bar
                    li
                        a.back(href=locals.baseUrl + '/feeds/tweets.html') twitter
           div.divider-vertical
           div.span9
              div
                block feed
   //script(src="//about.me/embed/sanjeevonline")