extends layout

block content
    include author
    - var articles = _.chain(contents.articles._.directories).map(function(item) {
    -   // map articles to index pages of subdirectories of 'articles'
    -   return item.index
    - }).compact().sortBy(function(item) { // compact removes any directories w/o an index
    -   // sort them by date
    -   return -item.date
    - }).first(10).value()

    each article in articles
        h2
            a(href=article.url)= article.title
            |  -&nbsp
            span= moment.utc(article.date).format('MMM DD, YYYY')
        p
            = article.metadata.excerpt
        a(href=article.url)
            | More...
        hr
