!!!
html
  include partials/header

  body
    div.container
      include partials/menu
      block header
      div.row
        div.span9
          block content
        div.span3
          include partials/sidebar
      hr
      include partials/footer
    include partials/scripts