!!!
html
  include partials/header

  body
    div.container
      include partials/menu
      block header
      div.row
        div.span8
          block content
        div.span4
          include partials/sidebar
      <hr />
      include partials/footer

    include partials/scripts