!!!
html
  include partials/header

  body
    div.container
      include partials/menu
      block header
      block content
      <hr />
      include partials/footer

    include partials/scripts